/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19/11/2023, 7:36:23 p. m.
    Author     : llina
*/

nav{
    height: 8vh;
}
.nav-item .btn{
    border:none; 
    margin-left: 20px;   
/*    height: 10vh;
    border-radius: 0px;
    text-align: center;*/
    
 
}

#\#NavBrand{
    margin-left: 30px;
}

.dropdown-center{
    margin-right: 30px;
}
.dropdown-center button{
    border:none;
    
}


/*.dropdown-center .btn,.dropdown-center .btn:hover,.dropdown-center .btn:active{
   
    color: white;
    margin-right: 30px;
}*/
.dropdown-center li{
    margin-top: 5px;
}

.dropdown-center .dropdown-menu {
    transform: translateX(-50%);
    left: 50% !important;
}




iframe{
    height: 100%;
    width: 100%;
    border: 1px solid #ccc; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
  
}

.divIFrame{
    height: 100vh;
}


